<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/style.css">
    <title>区块链业务浏览器</title>
</head>
<body>
<div class="topbar">

    <div class="container">
        <div class="header-logo">
            <a href="#"></a>
        </div>
        <div class="topbar-nav" style="margin-left: 20px;">

            <a href="{{ url_for('main')}}">Home </a>
        </div>

        <div class="topbar-info">
            <a href="">Mainnet</a><span>|</span>
            <a href="">TestNet</a><span>|</span>
        </div>

    </div>
</div>

<div class="header-search">
    <form action="" class="search-form" method="post">
        <input type="text" name="keyword" placeholder="请输入您的BaseKey以查询" class="search-text">
        <input type="submit" value="搜索" class="search-btn">
    </form>
</div>
<div class="node">
    <p style="color:black">节点信息： {{node}}</p>
</div>

<div style="color:black;text-align: center;">
    <h3>Data On Chain</h3>
    <div style="color:black;border: 3px solid orange;
    width:100%;
    display: block;
    margin:0 auto;
    ">
        <table style="width: 60%;margin:auto">
            <thead>
                <tr>
                    <th>键</th>
                    <th>值</th>
                    <th>最近更新日期</th>
                </tr>
            </thead>
            <tbody>
                {% for data in data_on_chain %}
                <tr>
                    <td> {{data['key']}} </td>
                    <td> {{data['value']}} </td>
                    <td> {{data['last_update_time']}} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div style="color:black;text-align: center;">
    <h3>Transactions</h3>
    <div style="color:black;border: 3px solid orange;
    width:100%;
    display: block;
    margin:0 auto;
    ">
        <table style="width: 100%;margin:auto">
            <thead>
                <tr>
                    <th>哈希</th>
                    <th>键</th>
                    <th>操作</th>
                    <th>时间戳</th>
                </tr>
            </thead>
            <tbody>
                {% for tx in transcations_list %}
                <tr>
                    <td> {{tx['tx_id']}}</td>
                    <td> {{tx['key']}} </td>
                    <td> {{tx['operation']}} </td>
                    <td> {{tx['timestamp']}} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>    
    </div>
</div>



<div style="width:100%;">
    <div style="text-align: center;color: black;margin-top: 20px;">
        上海对外经贸大学·区块链技术与应用研究中心 © 2019 all right reserved
        <div style="float:right;width:10%">
            <a href="https://github.com/leeduckgo/bsn_app_explorer" target="_blank">Source Code </a>
            <br>
            <a href="https://github.com/leeduckgo/bsn_app_explorer/issues" target="_blank">Submit Issues </a>
            <br>
            <a href="http://www.suibe.edu.cn/ai/2020/0112/c7666a96188/page.htm" target="_blank">研究中心主页 </a>
        </div>
    </div>
</div>

</body>
</html> -->


<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>my_first_vue</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>

    <link href="static/app.314eb43636dea7e56f8c3c8aa215303c.css" rel="stylesheet">
</head>

<body>
    <div id="app">
        <div data-v-11e55c0b="" style="background-color: rgb(42, 44, 59);">
            <div data-v-11e55c0b="" class="row clearfix">
                <div data-v-11e55c0b="" class="col-md-12 column">
                    <nav data-v-11e55c0b="" role="navigation" id="header" class="navbar navbar-default  navbar-inverse">
                        <div data-v-11e55c0b="" class="navbar-header">
                            <button data-v-11e55c0b="" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" class="navbar-toggle"><span data-v-11e55c0b="" class="sr-only">Toggle navigation</span><span data-v-11e55c0b="" class="icon-bar"></span><span data-v-11e55c0b="" class="icon-bar"></span><span data-v-11e55c0b="" class="icon-bar"></span></button> <a data-v-11e55c0b="" href="http://localhost/#" class="navbar-brand" style="color: white;">Home</a></div>
                        <div data-v-11e55c0b="" id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
                            <ul data-v-11e55c0b="" class="nav navbar-nav">
                                <li data-v-11e55c0b="">
                                    <a data-v-11e55c0b="" href="http://localhost/#"></a>
                                </li>
                                <li data-v-11e55c0b="">
                                    <a data-v-11e55c0b="" href="http://localhost/#"></a>
                                </li>
                                <li data-v-11e55c0b="">
                                    <a data-v-11e55c0b="" href="http://localhost/#"></a>
                                </li>
                            </ul>
                            <form data-v-11e55c0b="" role="search" class="navbar-form navbar-left">
                                <div data-v-11e55c0b="" class="form-group">
                                    <input data-v-11e55c0b="" type="text" placeholder="请输入您的BaseKey以查询" class="form-control">
                                </div>
                                <button data-v-11e55c0b="" type="submit" class="btn btn-default">搜索</button>
                            </form>
                            <ul data-v-11e55c0b="" class="nav navbar-nav navbar-right">
                                <li data-v-11e55c0b=""><a data-v-11e55c0b="" href="http://localhost/#" style="font-size: 14px; color: white;">MainNet TestNet</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div data-v-11e55c0b="" class="home">
                <div data-v-11e55c0b="" class="home-head">
                    <div data-v-11e55c0b="">
                        <div data-v-11e55c0b="" element-loading-text="数据加载中..." element-loading-background="rgba(0, 0, 0, 0.8)" class="home-head-data">
                            <p data-v-11e55c0b="" class="text">节点信息：</p>
                        </div>
                    </div>
                </div>
                <div data-v-11e55c0b="" class="home-center">
                    <div data-v-11e55c0b="">
                        <table data-v-11e55c0b="" class="table">
                            <thead data-v-11e55c0b="">
                                <tr data-v-11e55c0b="">
                                    <th data-v-11e55c0b="" style="color: white; text-align: center;">
                                        键
                                    </th>
                                    <th data-v-11e55c0b="" style="color: white; text-align: center;">
                                        值
                                    </th>
                                    <th data-v-11e55c0b="" style="color: white; text-align: center;">
                                        最近更新日期
                                    </th>
                                </tr>
                            </thead>
                            <tbody data-v-11e55c0b="">
                                <tr data-v-11e55c0b="">
                                    <td data-v-11e55c0b="" style="color: white; text-align: center;">
                                        key1
                                    </td>
                                    <td data-v-11e55c0b="" style="color: white; text-align: center;">
                                        value1
                                    </td>
                                    <td data-v-11e55c0b="" style="color: white; text-align: center;">
                                        latest1
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div data-v-11e55c0b="" class="home-foot">
                    <div data-v-11e55c0b="" class="home-foot-box margin-right-10">
                        <div data-v-11e55c0b="" class="home-foot-box-nav">
                            <div data-v-11e55c0b="" class="left"><span data-v-11e55c0b="" class="line"></span> <span data-v-11e55c0b="" class="text">Transaction</span></div>
                            <div data-v-11e55c0b="" class="right"><span data-v-11e55c0b="" class="table-link" style="padding-right: 30px; color: white;"> 更多 &gt;</span></div>
                        </div>
                        <div data-v-11e55c0b="" element-loading-text="数据加载中..." element-loading-background="rgba(0, 0, 0, 0.8)" class="home-foot-box-content">
                            <ul data-v-11e55c0b="">
                                <li data-v-11e55c0b="" class="item">
                                    <div data-v-11e55c0b="" class="left">
                                        <div data-v-11e55c0b="" class="table-link">交易key: &nbsp;key1</div>
                                        <div data-v-11e55c0b="">hash值：1222222222222222222</div>
                                    </div>
                                    <div data-v-11e55c0b="" class="right">
                                        <div data-v-11e55c0b=""><span data-v-11e55c0b="" class="block-number">操作：add</span></div>
                                        <div data-v-11e55c0b="">时间戳：201901222233</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr data-v-11e55c0b="">
                <div data-v-11e55c0b="" style="text-align: center; color: white; margin-top: 20px;">
                    上海对外经贸大学·区块链技术与应用研究中心 © 2019 all right reserved
                    <div data-v-11e55c0b="" style="float: right; width: 10%;"><a data-v-11e55c0b="" href="https://github.com/leeduckgo/bsn_app_explorer" target="_blank">Source Code </a>
                        <br data-v-11e55c0b=""> <a data-v-11e55c0b="" href="https://github.com/leeduckgo/bsn_app_explorer/issues" target="_blank">Submit Issues </a>
                        <br data-v-11e55c0b=""> <a data-v-11e55c0b="" href="http://www.suibe.edu.cn/ai/2020/0112/c7666a96188/page.htm" target="_blank">研究中心主页 </a></div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="./index_files/manifest.2ae2e69a05c33dfc65f8.js"></script>
    <script type="text/javascript" src="./index_files/vendor.458c9f5863b8f28e5570.js"></script>
    <script type="text/javascript" src="./index_files/app.a1a9d3293a9678e62bbf.js"></script>
</body>

</html>