<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/style.css">
    <title>主页</title>
</head>
<body>
<div class="topbar">

    <div class="container">
        <div class="header-logo">
            <a href="#"></a>
        </div>&nbsp;&nbsp;
        <div class="topbar-nav">

            <a href="{{ url_for('main')}}">Home </a><span>|</span>
            <a href="{{ url_for('transactions')}}"> Transactions </a><span>|</span>
            <a href="{{ url_for('data_on_chain')}}">Data On Chain</a><span>|</span>
        </div>

        <div class="topbar-info">
            <a href="">Mainnet</a><span>|</span>
            <a href="">TestNet</a><span>|</span>
        </div>

    </div>
</div>

<div class="header-search">
    <form action="" class="search-form" method="post">
        <input type="text" name="keyword" placeholder="请输入您的BaseKey以查询" class="search-text">
        <input type="submit" value="搜索" class="search-btn">
    </form>
</div>
<div class="node">
    <a href="{{ url_for('nodes')}}">Node &nbsp [节点信息] </a>
</div>
<div class="title1">
    Transactions
</div>
<div class="title2">
    Data On Chain
</div>

<div class="Transactions ">
    {% for i in transcations_list %}
    {{ i }} <br>
    {% endfor %}
</div>
<div class="Data">
    {{ data_on_chain }}
</div>
<div class="bottom">
    <div class="bottom_copy">
        <a href="">CopyRight </a>
    </div>
    <div class="bottom_source">
        <a href="https://github.com/leeduckgo/bsn_app_explorer" target="_blank">Source Code </a>
    </div>
    <div class="right">
        上海对外经贸大学·区块链技术与应用研究中心@2020……
    </div>

    <div class="submit-row">
        <a href="https://github.com/leeduckgo/bsn_app_explorer/issues" target="_blank">Submit Issues </a>
    </div>
    <div class="main">
        <a href="http://www.suibe.edu.cn/ai/2020/0112/c7666a96188/page.htm" target="_blank">研究中心主页 </a>
    </div>
</div>
</div>

</body>
</html>